venv/
Documentation/
.ipynb_checkpoints/
.idea/
Ellipsoids/LST/Data
Ellipsoids/Data
Ellipsoids/models
Ellipsoids/logs
Ellipsoids/MultipleSources/Data
Spiral_galaxies/Data
Spiral_galaxies/models
Spiral_galaxies/logs
old/
MAGIC/
